#home{
  background: url('img/jumbotron.jpg');
  background-size: cover;
  color: white;
  width: 100%;
  height: 100vh;
}

#project{
  background: url('img/project.jpg');
  background-size: cover;
  height: 100vh;
  color: white;
  margin-top: -2.2%;
}

#education{
  background: url('img/education.jpg');
  background-size: cover;
  height: 100vh;
}

.nav-item{
  text-align: left;
}

.nav-link{
  transition: .5s;
}

.display-4{
  transform: translateY(25vh);
}

.lead{
  transform: translateY(20%);
}

#project_title{
  transform: translateY(35vh);
}

#project_content{
  font-size: 1.2em;
  transform: translateY(35vh);
}

#education_title, #education_profile{
  color: white;
  transform: translateY(30vh);
  font-size: 1.2em;
}

.modal-btn{
  transform: translateY(30vh);
}

.sub_edu_profile{
  transform: translateY(10vh);
}

.contact{;
  height: 100vh;
  width: 100%;
  color: white;
  background: url('img/contact.png');
  background-size: cover;
  }

.contact h2{
  padding-top: 10%;
}

  #contact{
    margin-top: 10%;
  }


@media (max-width: 1080px){
  #home, #project, #education{
    min-height: 130vh;
    overflow: auto;
  }

  .display-4{
    font-size: 40px;
    transform: translateY(5vh);
  }

  .lead{
    transform: translateY(5vh);
  }

  #project_content, 
  #project_title{
    transform: translateY(20vh);
    text-align: center;
  }

  #education_title{
    transform: translateY(10vh);
  }

  #education_profile{
    transform: translateY(10vh);
  }

  .modal-btn{
  transform: translateY(15vh);
  }
  .navbar{
    background: black;
    text-align: center;
  }

  .nav-item{
    margin-left: -200px;
  }


  #contact img{
    width: 25%;
  }

  #contact p a{
    margin-left: -35%;
    color: white;
  }

  #contact{
    text-align: center;
    font-size: 25px;
  }



}
